<div class="d-flex justify-content-center">
  <div class="card text-bg-dark rounded-0 border-0" style="height: auto; width: 100%; max-width: 30rem;">
    <div class="text-center">
      
        <% if current_page?(page_portfolio_path)%>
          <div class="card rounded-0 border-0", style="background-color: #9F6B99FF;"  >
            <div class="card-body">
              <h1 class="card-title">Portfolio</h1>
              <div class="mx-auto", style="max-width: 290px;">
                <p class="card-text" style="text-align: justify; text-justify: inter-word;">
                As a Data Scientist and Web Developer I enjoy analyzing data, creating meaningful visualizations,
                and building scalable applications.</p>
              
              <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 300px;">
                </div>
                  <br>
  
                  <div class="card bg-light shadow-lg" style="--bs-bg-opacity: 0.9; border: none;">
                    <div class="card-body text-dark">
                      <h5 class="card-title">NYC Tree Census<br>Data Analysis</h5>
                      <p class="card-text">Data analysis and visualizations with Python, Pandas, and Jupyter Notebook</p>
                      <%= image_tag 'data.png', style: 'height:auto; width:100%; max-width:50rem;' %>
                      <br>
                      <br>
                      <a href="https://github.com/dbielik236/data_exploration" class="btn btn-secondary" style="border-radius: 20px; margin-right: 5px">Code</a> 
                      <a href="https://github.com/dbielik236/data_exploration/blob/main/tree_census.ipynb" class="btn btn-secondary" style="border-radius: 20px; margin-left: 5px">Preview</a>
                    </div>
                  </div>

                  <br>
                
                  <div class="card bg-light shadow-lg" style="--bs-bg-opacity: 0.9; border: none;">
                    <div class="card-body text-dark">
                      <h5 class="card-title">Beatle-bot<br>Machine Learning</h5>
                      <p class="card-text">An NLP built with the NLTK library in Python. It knows all things Beatles!</p>
                      <%= image_tag 'BeatleBot.gif', style: 'height:auto; width:100%; max-width:50rem;' %>
                      <br>
                      <br>
                      <a href="https://github.com/dbielik236/chat_bot" class="btn btn-secondary" style="border-radius: 20px; margin-right: 5px">Code</a> 
                      <a href="https://replit.com/@dbielik236/ChatBot" class="btn btn-secondary" style="border-radius: 20px; margin-left: 5px">Preview</a>
                    </div>
                  </div>
                <br>
                  <div class="card bg-light shadow-lg" style="--bs-bg-opacity: 0.9; border: none;">
                    <div class="card-body text-dark">
                      <h5 class="card-title">"Fakebook"<br>Web Application with User Athentication</h5>
                      <p class="card-text">An application replicating Facebook's capabilities with relational databases and user authentication using Devise<br>
                      (Use Email: <code>guest@gmail.com</code> and Password: <code>password</code> for premade account)</p>
                      <%= image_tag 'fakebook.gif', class:'border border-muted', style: 'height:auto; width:100%; max-width:50rem;' %>
                      <br>
                      <br>
                      <a href="https://github.com/dbielik236/fakebook" class="btn btn-secondary" style="border-radius: 20px; margin-right: 5px">Code</a> 
                      <a href="https://blooming-temple-89582.herokuapp.com/users/sign_in" class="btn btn-secondary" style="border-radius: 20px; margin-left: 5px">Preview</a>
                    </div>
                  </div>
                
                  <br>
    
                  <div class="card bg-light shadow-lg" style="--bs-bg-opacity: 0.9; border: none;">
                    <div class="card-body text-dark">
                      <h5 class="card-title">Calculator<br>Graphical User Interface</h5>
                      <p class="card-text">Four-function calculator made with HTML, CSS Grid, and Javascript utilizing DOM manipulation</p>
                      <%= image_tag 'calculator.png', style: 'height:auto; width:50%; border-radius: 5px' %>
                      <br>
                      <br>
                      <a href="https://github.com/dbielik236/calculator" class="btn btn-secondary" style="border-radius: 20px; margin-right: 5px">Code</a> 
                      <a href="https://dbielik236.github.io/calculator/" class="btn btn-secondary" style="border-radius: 20px; margin-left: 5px">Preview</a>
                    </div>
                  </div>
                
                <br>
                <div class="card bg-light shadow-lg mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 300px;">
                  <div class="card bg-light" style="--bs-bg-opacity: 0.9; border: none;">  
                    <div class="card-body text-dark" style="margin-bottom: 10px">
                      <h5 class="card-title" style="margin-bottom: 20px"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="margin-right: 10px" ><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                      See more projects</h5>
                      <a href="https://github.com/dbielik236" class="btn btn-secondary" style="border-radius: 20px">View my GitHub profile</a>
                    </div>
                  </div>  
                </div>
              </div>
              <br>
            </div>
          </div>
          
        <% else %>
          <div class="card rounded-0 border-0 mx-auto", style="background-color: #9F6B99FF; height: 12rem; width: 100%; max-width:30rem;"  >
            <div class="card-body mx-auto d-flex align-items-center" style="padding-top: 0">
              <div style="max-width: 300px;">
                <h1 class="card-title">Portfolio</h1>
                <p class="card-text">Take a look at some of my projects and deployed applications.</p>  
                <%= button_to "View my work", page_portfolio_path, method: :get, class:'btn btn-light shadow-lg', style:"border-radius: 20px;" %>
              </div>
            </div>
          </div>
        <% end %>
    </div>  
  </div>
</div>  