<div class="d-flex justify-content-center">
  <div class="card text-bg-dark rounded-0 border-0" style="height: auto; width: 100%; max-width:50rem;">
    <div class="text-center">
      <div class="card bg-info rounded-0 border-0", style="--bs-bg-opacity: .6; height: auto; width: 100%; max-width:50rem;"  >
            <div class="card-body">
            <br>
            <br>
            <h1 class="card-title">My Cats</h1>
            <div class="mx-auto", style="max-width: 500px;">
              <p class="card-text">Lucy has the tortoise-shell fur and is the sweetest cat on the planet. Adalaide has the grey and white fur and is equally cuddly and feisty. Both are as cute as can be! We got them both as rescues from the local Humane Society.
              </p>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/blanket.jpg', alt: "Adalaide cat in a blanket", class: ' shadow-lg', style: 'height: auto; width: 100%; max-width:50rem;border-radius: 10px;')%>
            </div>   
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/snuggled.jpg', alt: "Lucy cat sunggled up asleep", class: ' shadow-lg', style: 'height: auto; width: 100%; max-width:50rem;border-radius: 10px;')%>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/chair.jpg', alt: "Adalaide cat in a chair looking up at camera", class: ' shadow-lg', style: 'height: auto; width: 100%; max-width:50rem;border-radius: 10px;')%>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/belly.jpg', alt: "Lucy cat showing her beautiful white, orange, and brown colors", class: ' shadow-lg', style: 'height: auto; width: 100%; max-width:50rem;border-radius: 10px;')%>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/portrait.jpg', alt: "Adalaide cat sitting in on a window sill", class: ' shadow-lg', style: 'height: auto; width: 100%; max-width:50rem; border-radius: 10px;')%>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/close.jpg', alt: "Lucy cat close up on face", class: 'shadow-lg', style: 'height: auto; width: 100%; max-width:50rem;border-radius: 10px;')%>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/window.jpg', alt: "Adalaide cat in the window", class: ' shadow-lg', style: 'height: auto; width: 100%; max-width:50rem;border-radius: 10px;')%>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/groggy.jpg', alt: "Lucy cat groggy from waking up from a nap", class: ' shadow-lg', style: 'height: auto; width: 100%; max-width:50rem;border-radius: 10px;')%>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/sun.jpg', alt: "Adalaide cat soaking up the sun", class: ' shadow-lg', style: 'height: auto; width: 100%; max-width:50rem;border-radius: 10px;')%>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/relaxed.jpg', alt: "Lucy cat relaxed on a blanket", class: 'shadow-lg', style: 'height: auto; width: 100%; max-width:50rem;border-radius: 10px;')%>
            </div>
            <br>
            <div class="card bg-light mx-auto" style="--bs-bg-opacity: 0; border: none; max-width: 500px;">
                <%= image_tag('cats/tongue.jpg', alt: "Adalaide cat in the middle of a yawn", class: ' shadow-lg', style: 'height: auto; width: 100%; max-width:50rem;border-radius: 10px;')%>
            </div>
            <br>
            <%= button_to "Back to About me", page_about_path, method: :get, class: 'btn btn-light  shadow-sm', style:"border-radius: 20px"%>
            
          </div>
          
        
         

      
    </div>
  </div>
  <%= render 'links'%>
</div>

