
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
      <%= image_tag 'adalaide.jpg', style: 'height:auto; width:100%; max-width:50rem;' %>
      <div class="carousel-caption d-none d-md-block">
    <h5>Hello</h5>
    <p>and goodbye!</p>
  </div>
    </div>
    <div class="carousel-item text-center">
      <%= image_tag 'feelin_good.jpg', style: 'height:auto; width:100%; max-width:50rem;' %>
    </div>
    <div class="carousel-item text-center">
      <%= image_tag 'lucy.jpg', style: 'height:auto; width:100%; max-width:50rem;' %>
    </div>
  </div>



<%= render 'about' %>
<%= render 'portfolio' %>
<%= render 'contact' %>

</div>